UserAssistance\bin\Debug\UserAssistance.exe
UserAssistance\bin\Debug\UserAssistance.pdb
UserAssistance\bin\Debug\UserAssistance.csproj.FileListAbsolute.txt
UserAssistance\bin\Debug\UserAssistance.csproj.GenerateResource.Cache

UserAssistance/bin/Debug/UserAssistance.exe.config

UserAssistance/obj/Debug/UserAssistance.csprojResolveAssemblyReference.cache
UserAssistance/bin/Debug/UserAssistance.pdb
UserAssistance/bin/Debug/UserAssistance.exe
UserAssistance/obj/Debug/UserAssistance.csproj.FileListAbsolute.txt
UserAssistance/obj/Debug/UserAssistance.csproj.GenerateResource.Cache
UserAssistance/obj/Debug/UserAssistance.exe
UserAssistance/obj/Debug/UserAssistance.MainForm.resources
UserAssistance/obj/Debug/UserAssistance.pdb
